:root {
  --bg-color: #2f3740;
  --text-color: #ffffff;
  --button-first-color: #bfeae9;
  --button-second-color: #f6a4c2;
  --button-third-color: #fad718;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
}

.display {
  background-color: #343d47;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0px 3px 15px 5px #111111;
  border-radius: 2rem;
  width: 80vw;
  height: 9rem;
  padding: 1rem 2.5rem;
}

.display p,
.display h1 {
  color: var(--text-color);
  font-weight: 500;
}
.display p {
  font-size: 1.5rem;
}
.display h1 {
  font-size: 3rem;
}

.buttons {
  width: 80vw;
}
.utility-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
}
.utility-buttons button {
  all: unset;
}
img {
  width: 4rem;
  height: 4rem;
}
.utility-buttons button:last-child img {
  width: 7.5rem;
  height: 7.5rem;
}
.operation-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.operation-buttons button {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 1000;
  border: none;
  border-radius: 1.2rem;
  height: 5rem;
}
.pink {
  background-color: var(--button-second-color);
}
.teal {
  background-color: var(--button-first-color);
}
.yellow {
  background-color: var(--button-third-color);
}

.history {
  display: none;
  background-color: #424b55;
  border-radius: 2rem;
  position: absolute;
  width: 90vw;
  height: 80vh;
}
.history h2 {
  color: var(--text-color);
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
}
.history div {
  border-top: 0.3rem solid rgb(50, 49, 49);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
  height: 11.65vh;
  padding: 0 15vw;
}
.history div p:first-child {
  font-weight: 500;
}
